{% extends "events_layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6 float-right" >
        <article class="media content-section" >
            <div class="media-body ">
                <h2><a class="article-title" ><center>Today</center></a></h2>
                <p><b>14:30.</b></p>
                <p><b>Title: Modelling the spread of SARS-CoV-2 in Ethiopia.</b></p>
                <p>Speaker: Simon Merkt</p>
                <p>Location: virtual</p>
                <p>Abstract: </p>
                <hr>
                <p><b>14:30.</b></p>
                <p><b>Title: Modelling the spread of SARS-CoV-2 in Ethiopia.</b></p>
                <p>Speaker: Simon Merkt</p>
                <p>Location: Room 1</p>
                <p>Abstract: </p>
            </div>
        </article>
    </div>
    <div class="col-md-6 float-right" >
        <article class="media content-section" >
            <div class="media-body ">
                <h2><a class="article-title" ><center>Upcoming</center></a></h2>
                <p><b>23.09.2021 10:30</b></p>
                <p><b>Title: Modelling the spread of SARS-CoV-2 in Ethiopia.</b></p>
                <p>Speaker: Simon Merkt</p>
                <p>Location: virtual</p>
                <p>Abstract: </p>
                <hr>
                <p><b>23.09.2021 12:30</b></p>
                <p><b>Title: Modelling the spread of SARS-CoV-2 in Ethiopia.</b></p>
                <p>Speaker: Simon Merkt</p>
                <p>Location: virtual</p>
                <p>Abstract: </p>    
                <hr>            
                <p><b>24.09.2021 14:30</b></p>
                <p><b>Title: Modelling the spread of SARS-CoV-2 in Ethiopia.</b></p>
                <p>Speaker: Simon Merkt</p>
                <p>Location: virtual</p>
                <p>Abstract: </p>
                <hr>
                <p><b>25.09.2021 14:30.</b></p>
                <p><b>Title: Modelling the spread of SARS-CoV-2 in Ethiopia.</b></p>
                <p>Speaker: Simon Merkt</p>
                <p>Location: virtual</p>
                <p>Abstract: </p>
            </div>
        </article>
    </div>
</div>

<!--
<article class="media content-section bg-primary text-white">
    <div class="media-body">
        <p class="article-content text-justify"> Please take note that applications submitted shortly before or during the Christmas holidays (21 Dec. 2020 - 08 Jan. 2021) have a longer processing time and may not be approved until the end of January 2021. Please take this into account when setting the deadline in the form. We wish you a Merry Christmas and a Happy New Year! </p>
    </div>
</article>
--> 
{% endblock content %}